.home-container {
    padding: 20px;
    text-align: center;
    height: 100%;
  }
  
  .home-container h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .home-container p {
    font-size: 16px;
    margin-bottom: 30px;
  }
  
  .features {
    display: flex;
    justify-content: space-between;
  }
  
  .feature {
    flex: 1;
    margin: 0 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .feature h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .feature p {
    font-size: 16px;
  }
  

  