@media print {
    body * {
        
    }

    .modal-content {
        visibility: visible;
        width: 210mm;
        height: 297mm;
        margin: auto;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        border: none;
        box-shadow: none;
    }
}


